#{extends '/tags/publicSmartBorder.html' /}
#{set title:'Home' /}  

<a href="@{ApplicationSmart.muestraListaSexo("male")}">Masculino</a>
<a href="@{ApplicationSmart.muestraListaSexo("female")}">Femenino</a>