#{extends '/tags/privateBorder.html' /}
#{set title:'Panel de Control' /}

#{ifErrors}

<div class="alert alert-danger">Por favor corrija los campos destacados</div>

	
		<ul style="color: green">
		#{errors}
		    <li>${error}</li>
		#{/errors}
		</ul>
	

#{/ifErrors}

<h2>Destinos</h2>

<table id="table" style="display:none"
   data-search="true"
   data-pagination="true"
   data-page-list="[10, 25, 50, 100, ALL]"
   data-show-footer="false"
   >
   <thead>
      <tr>
         <th data-field="state" data-checkbox="true"></th>
			<th>Nombre</th>
			<th>Direccion</th>
			<th>Puerto</th>			
      </tr>
   </thead>
   <tbody>
		#{list destinos, as:'destino'}
		<tr>
			<td></td>
			<td><a href="@{PanelController.destino(destino.id)}">${destino.nombre}</a></td>
			<td>${destino.direccion}</td>
			<td>${destino.port}</td>			
		</tr>
		#{/list}
   </tbody>
</table>
<script>
   $(function() {
   	$("#table").bootstrapTable().fadeIn();
   });
   
</script>


