#{extends '/tags/privateBorder.html' /}
#{set title:'Panel de Control' /}

#{ifErrors}

<div class="alert alert-danger">Por favor corrija los campos destacados</div>

	#{if devMode}
		<ul style="color: green">
		#{errors}
		    <li>${error}</li>
		#{/errors}
		</ul>
	#{/if}

#{/ifErrors}

<h2>Nuevo Destino</h2>

<form method="POST" action="@{PanelController.agregarDestino}">
		<input type="hidden" name="destino.id" value=${destino.id}>
		#{field 'destino.nombre'}
		<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
			<label for="${field.id}" class=" control-label">Nombre Destino<span class="required">*</span></label>  
			<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}">  
			<span class="error">${field.error}</span>	
		</div>
		#{/field}
		#{field 'destino.direccion'}
		<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
			<label for="${field.id}" class=" control-label">Direccion IP<span class="required">*</span></label>  
			<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}">  
			<span class="error">${field.error}</span>	
		</div>
		#{/field}
		#{field 'destino.port'}
		<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
			<label for="${field.id}" class=" control-label">Puerto<span class="required">*</span></label>  
			<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}">  
			<span class="error">${field.error}</span>	
		</div>
		#{/field}
		#{if destino.tipo == null}
			#{field 'destino.tipo'}
			<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
				<label for="${field.id}" class="control-label">Tipo dispositivo<span class="required">*</span></label>  
				 <select class="form-control" id ="${field.id}"  name="${field.name}.id" value="${field.value}">
				 	<option></option>
					#{list tiposDestinos, as:"tipo"}
						<option ${destino.tipo == tipo ? "selected" : ""} value="${tipo.id}">${tipo.nombre}</option>
					#{/list}
				  </select>			
				<span class="error">${field.error}</span>	
			</div>
			#{/field}
		#{/if}

	<p><button class="btn btn-primary">Enviar</button></p>
</form>
