#{extends '/tags/privateBorder.html' /}
#{set title:'Panel de Control' /}

#{ifErrors}

<div class="alert alert-danger">Por favor corrija los campos destacados</div>

	#{if devMode}
		<ul style="color: green">
		#{errors}
		    <li>${error}</li>
		#{/errors}
		</ul>
	#{/if}

#{/ifErrors}

<h2>Panel de Control</h2>

<section class="section features-list-section dark-text">
			<div class="container">
				<div class="clearfix animated" data-duration="500" data-animation="fadeInRight">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<article class="align-center">
							<a href="@{PanelController.formAgregarDestino}"><i class="icon icon-office-44 highlight"></i>
							<span class="heading editContent">CREAR DESTINOS</span> </a>
							<p class="editContent">Los destinos son dispositivos a los cuales enviaremos los mensajes HL7 via TCP </p>
						</article>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<article class="align-center">
							<a href="#"><i class="icon icon-shopping-18 highlight"></i>
							<span class="heading editContent">CREAR PACIENTES</span></a>
							<p class="editContent">Pacientes disponibles para uso en la plataforma.</p>
						</article>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<article class="align-center">
							<a href="#"><i class="icon icon-seo-icons-27 highlight"></i>
							<span class="heading editContent">CREAR MEDICO</span></a>
							<p class="editContent">Crear a los medicos disponibles en los ejercicios </p>
						</article>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<article class="align-center">
							<i class="icon icon-office-24 highlight"></i>
							<span class="heading editContent">FEATURE 4</span>
							<p class="editContent">Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero. </p>
						</article>
					</div>
				</div>
			</div>
		</section>
