#{extends '/tags/publicBorder.html' /}
#{set title:'Configurar Destinos' /}

#{ifErrors}

<div class="alert alert-danger">Por favor corrija los campos destacados</div>

	#{if devMode}
		<ul style="color: green">
		#{errors}
		    <li>${error}</li>
		#{/errors}
		</ul>
	#{/if}

#{/ifErrors}

<h2>Configuracion de Destinos</h2>
<hr>
#{list destinos, as:'destino'}
<h4>${destino.nombre} 
		#{if destino.socketIsDisponible()}
		<i class="icon icon-badges-votes-10"></i>
		#{/if}
		#{else}
		<i class="icon icon-badges-votes-11"></i>
		#{/else}
		
</h4> 
		<form method="POST" action="@{Application.actualizarDestino}" class="in-line">
			<input type="hidden" name="destino.id" value=${destino.id}>
			#{field 'destino.direccion'}
			<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
				<label for="${field.id}" class=" control-label">IP Destino<span class="required">*</span></label>  
				<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}">  
				<span class="error">${field.error}</span>	
			</div>
			#{/field}
			#{field 'destino.port'}
			<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
				<label for="${field.id}" class=" control-label">Puerto Destino<span class="required">*</span></label>  
				<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}">  
				<span class="error">${field.error}</span>	
			</div>
			#{/field}
			<p><button class="btn btn-primary">Enviar</button></p>
		</form>
		<hr>
#{/list}
