#{extends '/tags/publicBorder.html' /}
#{set title:'Home' /}

<h2>Admisión Paciente</h2>

#{ifErrors}
<div class="alert alert-danger">Por favor corrija los campos destacados</div>

	#{if devMode}
		<ul style="color: green">
		#{errors}
		    <li>${error}</li>
		#{/errors}
		</ul>
	#{/if}

#{/ifErrors}	


<h4>Datos del Paciente</h4>
<form method="POST" action="@{Application.crearNuevoPaciente()}">
		#{field 'paciente.nombre'}
		<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
			<label for="${field.id}" class=" control-label">Nombre<span class="required">*</span></label>  
			<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}">  
			<span class="error">${field.error}</span>	
		</div>
		#{/field}
		#{field 'paciente.email'}
		<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
			<label for="${field.id}" class=" control-label">Email<span class="required">*</span></label>  
			<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}">  
			<span class="error">${field.error}</span>	
		</div>
		#{/field}
		#{field 'paciente.telefono'}
		<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
			<label for="${field.id}" class=" control-label">Identificador (RUT)<span class="required">*</span></label>  
			<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}">  
			<span class="error">${field.error}</span>	
		</div>
		#{/field}
		
		#{field 'paciente.password'}
		<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
			<label for="${field.id}" class=" control-label">Contraseña:<span class="required">*</span></label>  
			<input type="password" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}">  
			<span class="error">${field.error}</span>	
		</div>
		#{/field}
		#{field 'listaMedico'}
		<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
			<label for="${field.id}" class=" control-label">Repetir contraseña:<span class="required">*</span></label>  
			<input type="password" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}">  
			<span class="error">${field.error}</span>
			<span id="message"></span>	
		</div>
		#{/field}

	<p><button class="btn btn-primary">Enviar</button></p>
</form>
