#{extends '/tags/publicBorder.html' /}
#{set title:'Home' /}

#{ifErrors}

<div class="alert alert-danger">Por favor corrija los campos destacados</div>

	#{if devMode}
		<ul style="color: green">
		#{errors}
		    <li>${error}</li>
		#{/errors}
		</ul>
	#{/if}

#{/ifErrors}

<h2>Hospital CAIB</h2>

#{list destinos, as:'destino'}
	<h4>${destino.nombre}</h4>
	<form method="POST" action="@{Application.visualiza}" class="in-line">
			<input type="hidden" name="destino.id" value=${destino.id}>
			<p><button class="btn btn-primary">Abrir</button></p>
		</form>
#{/list}

