#{extends '/tags/publicBorder.html' /}

<section class="section dark-text forms-block">
			<div class="container">
				<h3>Monitor Eventos</h3>
  
				
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<table id="table" style="display:none"
							   data-search="true"
							   data-pagination="false"
							   data-page-list="[10, 25, 50, 100, ALL]"
							   data-show-footer="false"
							   >
		   						<thead>
							      <tr>
							         
										<th>Mensaje</th>
										<th>IP Origen</th>
									
							
									
							      </tr>
		   						</thead>
			   						<tbody>
							 #{list eventos, as:'evento'}
									<tr>
									
										<td>${evento.mensaje}</td>
										<td>${evento.ipOringen}</td>
										
										
									</tr>
									#{/list}
						</tbody>
							</table>
						</div>
					</div>
					

			</div>
		</section>

<script>
   $(function() {
   	$("#table").bootstrapTable().fadeIn();
   });
   
</script>
