#{extends '/tags/publicBorder.html' /}

<section class="section dark-text forms-block">
			<div class="container">
				<h3>${destino.nombre}</h3>
  
				
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
						<h4>Datos Paciente</h4>
						#{field 'paciente.nombre'}
								<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
									<label for="${field.id}" class=" control-label">Nombre<span class="required">*</span></label>  
									<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}" disabled>  
									<span class="error">${field.error}</span>	
								</div>
							#{/field}
							#{field 'paciente.rut'}
								<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
									<label for="${field.id}" class=" control-label">Rut<span class="required">*</span></label>  
									<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}" disabled>  
									<span class="error">${field.error}</span>	
								</div>
							#{/field}
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<h4>Admisiones Pendientes</h4>
							<table id="table" style="display:none"
							   data-search="true"
							   data-pagination="true"
							   data-page-list="[10, 25, 50, 100, ALL]"
							   data-show-footer="false"
							   >
		   						<thead>
							      <tr>
							         
										<th>Nombre</th>
										<th>Acción</th>
							
									
							      </tr>
		   						</thead>
			   						<tbody>
							      #{list admisionesPendientes, as:'admision'}
									<tr>
									
										<td>${admision.primerNombrePaciente} ${admision.apellidoNombrePaciente}</td>
										<td><a href="@{Application.renderFichaClinica(admision.id,destino.id)}">Atender</a></td>
							
										
									</tr>
									#{/list}
		   					</tbody>
							</table>
						</div>
					</div>
					

			</div>
		</section>

<script>
   $(function() {
   	$("#table").bootstrapTable().fadeIn();
   });
   
</script>
