#{extends '/tags/publicBorder.html' /}

<section class="section dark-text forms-block">
			<div class="container">
				<h3>Ficha de atención</h3>
  
				
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
						<h4>Datos Paciente</h4>
						
						#{field 'admision.idPacienteDNI'}
								<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
									<label for="${field.id}" class=" control-label">Rut:<span class="required">*</span></label>  
									<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}" disabled >  
									<span class="error">${field.error}</span>	
								</div>
							#{/field}
							#{field 'admision.primerNombrePaciente'}
								<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
									<label for="${field.id}" class=" control-label">Nombre:<span class="required">*</span></label>  
									<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}" disabled>  
									<span class="error">${field.error}</span>	
								</div>
							#{/field}
							#{field 'admision.apellidoNombrePaciente'}
								<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
									<label for="${field.id}" class=" control-label">Apellido:<span class="required">*</span></label>  
									<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}" disabled>  
									<span class="error">${field.error}</span>	
								</div>
							#{/field}
							#{field 'admision.sexoPaciente'}
								<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
									<label for="${field.id}" class=" control-label">Sexo:<span class="required">*</span></label>  
									<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}" disabled>  
									<span class="error">${field.error}</span>	
								</div>
							#{/field}
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<h4>Solicitar Examen</h4>	

						
								
						#{list labs, as:'lab'}
							<form method="POST" action="@{Application.solicitaExamen}" class="in-line">
								<input type="hidden" name="idAlternativo" value=${admision.idAlternativo}>
								<input type="hidden" name="destino.id" value=${destino.id}>
								
								
								<h6>${lab.nombre}</h6>
								<label><input type="radio" name="examenSolicitado" value="ORINA">ORINA</label>
								<label><input type="radio" name="examenSolicitado" value="RAYOS">RAYOS-X</label>
								
								<p><button class="btn btn-primary">Solicitar</button></p>
							</form>
						#{/list}			
						</div>
						<a class="btn btn-default" href="@{Application.cierraAtencion(admision.idAlternativo)}">Terminar Atención</a>
					</div>
					<div class="row">
					<h4>Examenes </h4>
							<table id="table" style="display:none"
							   data-search="true"
							   data-pagination="true"
							   data-page-list="[10, 25, 50, 100, ALL]"
							   data-show-footer="false"
							   >
		   						<thead>
							      <tr>
							         
										<th>Nombre</th>
										<th>Estado</th>
							
									
							      </tr>
		   						</thead>
			   						<tbody>
							      #{list examenes, as:'examen'}
									<tr>
									
										<td>${examen.nombreExamen}</td>
										<td>#{if examen.realizado}Disponible: ${examen.resultado}<br>
										
										
										
										#{/if}
											#{else} Pendiente #{/else}</td>
							
										
									</tr>
									#{/list}
		   					</tbody>
							</table>
					</div>

			</div>
		</section>

<script>
   $(function() {
   	$("#table").bootstrapTable().fadeIn();
   });
   
</script>
