#{extends '/tags/publicBorder.html' /}

<section class="section dark-text forms-block">
			<div class="container">
				<h3>Examenes Pendientes</h3>
  
				
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<table id="table" style="display:none"
							   data-search="true"
							   data-pagination="true"
							   data-page-list="[10, 25, 50, 100, ALL]"
							   data-show-footer="false"
							   >
		   						<thead>
							      <tr>
							         
										<th>Examen</th>
										<th>Paciente</th>
										<th>Estado</th>
										<th>Informar</th>
							
									
							      </tr>
		   						</thead>
			   						<tbody>
							 #{list examenesPendientes, as:'examen'}
									<tr>
									
										<td>${examen.textoSolicitudORU}</td>
										<td>${examen.primerNombrePaciente} ${examen.apellidoNombrePaciente}</td>
										<td>#{if examen.realizado}Disponible#{/if}
											#{else} Pendiente #{/else}</td>
										<td width="30%">
											<form method="POST" action="@{Application.informarExamen}" class="in-line">
												<input type="hidden" name="solicitudExamen.id"  value="${examen.id}">  
												<input type="hidden" name="destino.id"  value="${destino.id}">  
												
												<label class=" control-label">Resultado<span class="required">*</span></label>  
												<input type="number" class="form-control" name="resultadoExamen" id="resultadoExamen">  
											
												<p><button class="btn btn-primary">Enviar</button></p>
											</form>
										</td>
										
									</tr>
									#{/list}
						</tbody>
							</table>
						</div>
					</div>
					

			</div>
		</section>

<script>
   $(function() {
   	$("#table").bootstrapTable().fadeIn();
   });
   
</script>
