#{extends '/tags/publicBorder.html' /}


<section class="section dark-text forms-block">
			<div class="container">
				<h3>${destino.nombre}</h3>
				<form class="form" method="POST" action="@{Application.handlePaciente}">
					<input type="hidden" name="destino.id"  value="${destino.id}">  
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
						<h5>Admitir Paciente</h5>
							#{field 'paciente.nombre'}
								<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
									<label for="${field.id}" class=" control-label">Nombre<span class="required">*</span></label>  
									<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}">  
									<span class="error">${field.error}</span>	
								</div>
							#{/field}
							#{field 'paciente.rut'}
								<div class="form-group  ${field.errorClass ? 'has-error' : ''}">
									<label for="${field.id}" class=" control-label">Rut<span class="required">*</span></label>  
									<input type="text" class="form-control " name="${field.name}" id="${field.id}"  value="${field.value}">  
									<span class="error">${field.error}</span>	
								</div>
							#{/field}
							<p><button class="btn btn-primary">Enviar</button></p>
					
							</form>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							
						</div>
					</div>
					

			</div>
		</section>
		
		<script>
   $(function() {
   	$("#table").bootstrapTable().fadeIn();
   });
   
</script>